* {
  user-select: none;

}

.eff {
  /* opacity: 0; */
  position: relative;
  animation: example 0.2s infinite;

}

@keyframes example {

  0%,
  60% {
    left: 10px;
  }

  20%,
  80% {
    left: 0px;
  }

  40%,
  100% {
    left: 10px;
  }
}

.card {
  position: relative;
}

.shadow-cm {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #6e6e6e) drop-shadow(-10px -10px 50px #6e6e6e);
}

.shadow-ucm {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #5e8bd6) drop-shadow(-10px -10px 50px #5e8bd6);
}

.shadow-rare {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #8b55fb) drop-shadow(-10px -10px 50px #8b55fb);
}

.shadow-epic {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #d824e9) drop-shadow(-10px -10px 50px #db1eec);
}

.shadow-lgd {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #ea3131) drop-shadow(-10px -10px 50px #ea3131);
}

.shadow-mtl {
  animation: drp 1s;
  filter: drop-shadow(10px 10px 200px #FF4040) drop-shadow(-10px -10px 50px #FF4040);
}

@keyframes drp {
  0% {
    filter: drop-shadow(0px 0px 0px #66c7ff00) drop-shadow(0px 0px 0px #66c7ff00);
  }
}


.flip {
  animation: rotatea 0.3s;
  transform: rotateY(0);

}

@keyframes rotatea {
  100% {
    transform: rotateY(3.142rad);
  }
}



.zomm {
  animation: zoom 1s;
  transform: scale(1);
}

@keyframes zoom {
  100% {
    transform: scale(1.5);
  }
}

#itemGacha {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: 50px;
  left: 25px;
}